:root{
    --cor-primaria : #e61616;
    --cor-secundaria: #a80303;
    --fonte: 'Roboto', sans-serif;
}


  
  @media (max-width: 1000px) {
  body p{
    font-size: 1.3rem;
    font-family:var(--fonte);
  }
  body .txtprincipal{
    font-size: 28px;
    font-family:var(--fonte);
    top: 6rem;
    left: 10rem;
  }
  .imagemfoda p{
    font-size: 0.6rem;
  }
  .tarefa1 button{
    font-size: 25px;
  }
  .placa{
     width:8rem;
  }
  #aula{
  font-size: 40px;
  }
  #prova{
  font-size: 40px;
  }
  }
  
  @media (max-width: 390px){
    body p{
    font-size: 20px;
    font-family:var(--fonte);
    
  }
    body .txtprincipal{
    font-size: 26px;
    font-family:var(--fonte);
    margin: 2px;
    top: 7rem;
    left: 9rem;
  }
  .imagemfoda p{
    font-size: 0.6rem;
  }
  .tarefa1 button{
    font-size: 25px;
  }
  .placa{
     width: 7rem;
  }
  #aula{
  font-size: 40px;
  }
  #prova{
  font-size: 40px;
  }
  }

.cabeca{
  font-family:var(--fonte);
    background-color:var(--cor-primaria);
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 15%;
}

.cabeca .titulo{
color: white;
display: flex;
justify-content: center;
align-items: center;
height: 50%;
width: 84%;
position:absolute;
left: 8%;
font-size: 1.2rem;
top: 40%;
}

.cabeca .iconeperfil{
  display: flex;
  position: absolute;
  color:black;
  width: 2.5rem;
  left: 85%;
  top: 45%;
}

.cabeca .hamburguer{
  width: 2.5rem;
  position: absolute;
  top: 45%;
  left: 5%;
}

.semcor .seta{
  width: 3rem;
  position: absolute;
  top: 32%;
  left: 5%;
}

.semcor{
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 15%;
}

.semcor .iconeperfil{
  display: flex;
  position: absolute;
  color:black;
  width: 3rem;
  left: 85%;
  top: 33%;
  
}

.placa{
  position: relative;
  top: 6rem;
  left: 1rem;
  filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.5));

}

.txtprincipal{
  color: var(--cor-primaria);
  position: absolute;
  font-style:oblique;
  max-width: 250px;
  right: 1rem;
}

.tarefa1 p{
  position: absolute;
  top: 14rem;
  left: 2rem;
  right: 1rem;
}

.imagemfoda{
  background-color: white;
  width: 70%;
  position: absolute;
  height: 23%;
 padding: 4%;
 top: 25.5rem;
 left: 11%;
 border-radius: 10%; 
}

.imagemfoda p {
  margin: 0;
  position: absolute;
  top: 93%;
  text-align: center;
  display: flex;
  align-items: center;  
}

.imagemfoda .fone{
    display: block;
    margin: 0 auto;
  height: 100%;
  border-radius: 1rem;
  top: 6%;
  left: 6%;
  width: 100%;
}

.tarefa1 button{
  background-color: var(--cor-primaria);
  top: 90%;
  position: absolute;
  border-radius: 2rem;
  height: 3rem;
  width: 9rem;
  color: white;
  font-family:var(--fonte);
  font-weight: bold;
  box-shadow:  3px 3px 5px rgba(0,0,0,0.5);;
  border-style:none;
  cursor: pointer;
}

.botao1{
left: 3%;
}

.botao2{
  left: 58%;
}

#carouselExampleIndicators{
  position: absolute;
  top: 14%;
  width: 100%;
}
.carousel-inner{
max-height: 250px;
min-height: 249px;
}

.index button{
  background-color: var(--cor-primaria);
  position: absolute;
  border-radius: 1rem;
  color: white;
  font-family:var(--fonte);
  font-weight: bold;
  box-shadow:  3px 3px 5px rgba(0,0,0,0.5);
  border-style:none;
  cursor: pointer;
   border: 2px solid var(--cor-secundaria);
  border-bottom: 5px solid var(--cor-secundaria); 
  padding: 10px 20px;
  cursor: pointer;
}

#bsinaliza{
  top: 49%;
  left: 1%;
}

#blegislacao{
  top: 49%;
  left: 51%;
}

.botaoinicial{
  width: 48%;
  height: 10%;
}

#bmecanica{
  top: 60%;
  left: 1%;
}

.botaoinicial2{
  width: 98%;
  height: 10%;
}

#aula{
  font-weight: bold;
  position: absolute;
  top: 43%;
  left: 2%;
}


/* segunda leva de botoes */
#bsinaliza2{
  top: 89%;
  left: 51%;
}

#blegislacao2{
  top: 78%;
  left: 51%;
}

#bmecanica2{
  top: 78%;
  left: 1%;
}

.botaoinicial3{
  width: 48%;
  height: 21%;
}

#prova{
  font-weight: bold;
  position: absolute;
  top: 72%;
  left: 2%;
}